.main {
  font-family: "Raleway";
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#textInput::placeholder {
  color: white;
  border: 0;
  font-family: "Raleway";
}
