.main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#textInput::placeholder {
  color: white;
  border: 0;
}

.bottom-animate {
  transform: translateX(750px);
  animation: go-forward 14s linear infinite forwards;
}
@keyframes go-forward {
  0% {
  }
  100% {
    transform: translateX(-750px);
  }
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 700px;
  height: 100vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  min-width: 400px;
  margin: 5px;
  overflow: hidden;
  min-height: 900px;
}
.header-container {
  position: relative;
  width: 50%;
  max-width: 600px;
}
.subtitle {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  white-space: nowrap;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .weather-mobile {
    width: 95%;
  }
  .header-container {
    width: 80%;
  }
  .subtitle {
    margin-bottom: 10px;
    margin-top: 60px;
  }
}
