.main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#textInput::placeholder {
  color: white;
  border: 0;
}

.bottom-animate {
  transform: translateX(750px);
  animation: go-forward 14s linear infinite forwards;
}
@keyframes go-forward {
  0% {
  }
  100% {
    transform: translateX(-750px);
  }
}
