@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.App {
  font-family: sans-serif;
}

.clock {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #444;
  text-align: center;
}
.right-clock {
  left: -25px;
}
.left-clock {
  right: -25px;
}
.clock::after {
  background: #aaa;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_hand {
  position: absolute;
  width: 2px;
  height: 13px;
  background: #222;
  border-radius: 4px;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 2px;
  height: 21px;
  border-radius: 5px;
  background: #444;
  top: 8%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 1px;
  height: 22px;
  background: red;
  top: 4%;
  left: 50%;
  transform-origin: bottom;
}
